.mvWidget {
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.mvWidget .weatherDetailForecast,
.mvWidget .weatherDetailForecast .hour > div > .temperature > .sub,
.mvWidget .weatherDetailForecast .hour > div > .info,
.mvWidget .weatherDetailForecast .hour > div > .time .from,
.mvWidget .weatherDetailForecast .hour > div > .time .to,
.mvWidget .weatherForecast .summary .value,
.mvWidget .weatherForecast .summary .txt,
.mvWidget .weatherForecast .summary .cell, 
.mvWidget .weatherForecast .summary .bullet {
    font-size: 14px;
    line-height: 14px;  
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > .main,
.mvWidget .weatherDetailForecast .title {
    font-size: 18px;
    line-height: 18px;
}
.mvWidget .weatherDetailForecast .hour > div > .info {
    line-height: 18px;  
}
.mvWidget .weatherDetailForecast .summary {
    margin-top: 10px;
    justify-content: left;
}
.mvWidget .weatherDetailForecast .summary .cell .txt {
    display: none;
}  
.hour {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #999;
}
.mvWidget .weatherForecast .summary .bullet {
    padding: 0 10px;
}
.mvWidget .weatherDetailForecast .today .hour, .weatherDetailForecast .today .summary {
    border-right: none;
}
.mvWidget .weatherDetailForecast .hour > div > .time {
    width: 12%;
}
.mvWidget .weatherDetailForecast .hour > div > .info {
    width: 20%;
}
.mvWidget .weatherDetailForecast .hour > div > .wind {
    width: 30%;
}
.mvWidget .weatherDetailForecast .hour > div > .info > div > div:nth-child(2) {
    padding-left: 5px;
}
.mvWidget .weatherDetailForecast .week .hour .status {
    margin-left: 2%;
}
.mvWidget .weatherDetailForecast .mvClickable, .weatherDetailForecast .today .hour > div {
    border: 1px solid transparent;
}
.mvWidget .weatherDetailForecast .today, .mvWidget .weatherDetailForecast .week{
    box-sizing: border-box;
}
.mvWidget .weatherDetailForecast .mvClickable:hover {
    background-color: var(--widget-button-background-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active .raindrop_snowflake_background,
.mvWidget .weatherDetailForecast .mvClickable:active {
    background-color: var(--primary-light-color);
}
@media only screen and (min-width: 640px) {
    #openButton {
        display: none;
    }
}
@media only screen and (max-width: 640px) {
    .mvWidget .weatherDetailForecast .today, .mvWidget .weatherDetailForecast .week {
        width: 100%;
    }
    .mvWidget .weatherDetailForecast .today {
        padding-top: 20px;
    }
    .mvWidget .weatherDetailForecast .week {
        position: absolute;
        background-color: var(--body-bg);
        padding-left: 0;
        transform: translate3d(-100%, 0, 0);
        transition: transform 300ms ease;
        top: 20px;
        bottom: 0;
    }
    .mvWidget .weatherDetailForecast .week.open {
        transform: translate3d(0%, 0, 0);
    }
    #openButton {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        background-color: var(--body-bg);
        color: var(--primary-color);
        z-index: 1;
        padding: 10px;
        border: 1px solid var(--primary-light-color);
    }
    #openButton.open {
        background-color: var(--primary-light-color);
        border: 1px solid var(--primary-color);  
    }
}
@media not (hover: none) {
  #openButton, .mvClickable {
      cursor: pointer;
  }
}
html.black, html.black body
html.dark, html.dark body
{
    background-color: var(--body-bg);
    
    --body-bg: black;

    --primary-color: white !important;
    --primary-light-color: #808080 !important;
    --primary-dark-color: rgba(255,255,255,1) !important;
    --primary-icon-color: var(--primary-dark-color) !important;
    --widget-text-color: white;
    --widget-value-color: white;
    --widget-value-color-weather-needle: white;
    --widget-value-color-weather-circle: white;
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-info-icon: white;
    --sub-icon-color: white;
    --widget-text-color-nonimportant: white;
    --widget-value-color-weather-raindrop: white;
    --widget-button-background-marker: #333;
}
html.dark, html.dark body {
    background-color: var(--body-bg);

    --body-bg: #202124;
}
html.light, html.light body {
    background-color: var(--body-bg);
    
    --body-bg: white;

    --primary-color: #333 !important;
    --primary-light-color: #6e6e6e !important;
    --primary-dark-color: rgba(0,0,0,1) !important;
    --primary-icon-color: var(--primary-dark-color) !important;
    --widget-text-color: #333;
    --widget-value-color: #333;
    --widget-value-color-weather-needle: #333;
    --widget-value-color-weather-circle: #333;
    --widget-value-color-weather-clouds: #333;
    --widget-value-color-weather-info-icon: #333;
    --sub-icon-color: #333;
    --widget-text-color-nonimportant: #333;
    --widget-value-color-weather-raindrop: #333;
    --widget-button-background-marker: #DDD;
} 

body:not(.basicui) #openButton
{
    top: 5px;
    right: 5px;
}

body:not(.basicui) .today, 
body:not(.basicui) .week 
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
