@charset "UTF-8";

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/theme/ttf/Roboto-Thin.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('/static/theme/ttf/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/static/theme/ttf/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	font-family: Roboto;
	font-weight: 100;
	margin: 0px;
}

:root {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */	

                                  
    --body-bg: #000000;
    --box-bg: transparent;
    --header-bg: var(--body-bg);
    --drawer-bg: var(--body-bg); 

    --widget-title-color: white;
    --widget-title-size: 1.6vw;
    --widget-title-group-color: white;
    --widget-title-group-size: 2vw;

    --widget-text-color: white;
    --widget-text-color-nonimportant: #AAA;
    
    --widget-value-color: white;    
    --widget-value-weight: 300;

    --widget-value-size: 1.6vw;
    --widget-value-main-size: 3.2vw;
    --widget-value-main-sub-size: 1.7vw;
    --widget-value-main-icon-size: 3.8vw;
    --widget-value-huge-main-size: 4.0vw;
    --widget-value-huge-sub-size: 2.8vw;
    --widget-value-info-size: 2vw;
    
	/*--widget-value-color-weather-circle: rgba(99,143,179,0.5);
    --widget-value-color-weather-probability: rgba(99,143,179,1.0);*/
	--widget-value-color-weather-needle: white;
	--widget-value-color-weather-circle: var(--primary-light-color);
    --widget-value-color-weather-info-icon: var(--sub-icon-color);
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-raindrop: white;
    --widget-value-color-weather-snowflake: white;
   	--widget-value-color-weather-thunder-stroke: white;
	--widget-value-color-weather-thunder-fill: var(--widget-warn-color);

	--widget-button-border: 1px solid var(--primary-light-color);
    --widget-button-background: rgba(38,191,117,.1);
  
    --widget-button-border-active: 1px solid var(--primary-color);
    --widget-button-background-active: var(--primary-dark-color);
    
	--widget-button-border-marker: 1px solid rgba(38,191,117,.1);
	--widget-button-background-marker: #1f1f1f;

	--widget-button-border-hidden: 1px solid transparent;

    --widget-button-background-slider: #0d472a;

    --widget-button-color: white;
    --widget-button-size: 1.6vw;
    --widget-button-small-size: 1.5vw;
    --widget-button-weight: 200;

    --primary-color: #26bf75;
    --primary-light-color: rgba(38,191,117,.50);
    --primary-dark-color: #09301d;
    /*--primary-dark-color: rgba(38,191,117,.25);*/

    --primary-icon-color: var(--primary-dark-color);
    /*--dark-icon-color: rgba(189,189,189,.15);*/
    
    --top-icon-color: rgba(38,191,117,.90);
    --sub-icon-color: rgba(38,191,117,.90);

	--svg-image-color: rgba(38,191,117,.75);

    --widget-light-color: yellow;

    --widget-error-color: red;
    --widget-warn-color: #ffa500;
}

:root.blueTheme {
	--body-bg: #000;

	--widget-title-color: white;
	--widget-title-group-color: white;
	
	--widget-text-color: white;
    --widget-text-color-nonimportant: #6E6E6E;
    
    --widget-value-color: white;    
	--widget-value-color-weather-needle: #888;
    --widget-value-color-weather-circle: rgba(99,143,179,0.5);
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-info-icon: var(--sub-icon-color);
    --widget-value-color-weather-raindrop: #4b86c8;
    --widget-value-color-weather-snowflake: white;
   	--widget-value-color-weather-thunder-stroke: white;
	--widget-value-color-weather-thunder-fill: var(--widget-warn-color);

	--widget-button-border: 1px solid var(--primary-light-color);
	--widget-button-background: rgba(187,229,255,.1);
	--widget-button-border-active: 1px solid rgba(187,229,255,.9);
	--widget-button-background-active: rgba(187,229,255,.5);
	--widget-button-border-marker: 1px solid #BBB;
	--widget-button-background-marker: #FAFAFA;
	--widget-button-background-slider: rgba(56,121,217,1);
	
	--widget-button-border-radius: 2px;

	--widget-button-color: white;

	--primary-color: rgba(56,121,217,1);
	--primary-light-color: rgba(56,121,217,0.5);
	--primary-dark-color: rgba(56,121,217,0.3);

	--primary-icon-color: rgba(56,121,217,1);
	/*--dark-icon-color: rgba(124,175,215,0.3);*/

	--svg-image-color: rgba(56,121,217,1);

    --widget-light-color: yellow;
	--widget-error-color: red;
	--widget-warn-color: #ffa500;
}

:root.lightTheme {
	--body-bg: #FFF;

	--widget-title-color: black;
	--widget-title-group-color: black;
	
	--widget-text-color: black;
    --widget-text-color-nonimportant: #6E6E6E;
    
    --widget-value-color: black;    
	--widget-value-color-weather-needle: #888;
    --widget-value-color-weather-circle: rgba(99,143,179,0.5);
    --widget-value-color-weather-info-icon: rgba(99,143,179,1.0);
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-raindrop: #4b86c8;
    --widget-value-color-weather-snowflake: white;
   	--widget-value-color-weather-thunder-stroke: white;
	--widget-value-color-weather-thunder-fill: var(--widget-warn-color);

	--widget-button-border: 1px solid var(--primary-light-color);
	--widget-button-background: rgba(187,229,255,.1);
	--widget-button-border-active: 1px solid rgba(187,229,255,.9);
	--widget-button-background-active: rgba(187,229,255,.5);
	--widget-button-border-marker: 1px solid #BBB;
	--widget-button-background-marker: #FAFAFA;
	--widget-button-background-slider: #7cafd7;
	
	--widget-button-border-radius: 2px;

	--widget-button-color: black;

	--primary-color: rgba(84,126,177,1);
	--primary-light-color: rgba(124,175,215,0.5);
	--primary-dark-color: rgba(124,175,215,0.3);

	--primary-icon-color: rgba(84,126,177,0.9);
	/*--dark-icon-color: rgba(124,175,215,0.3);*/

    --top-icon-color: rgba(124,175,215,0.9);
    --sub-icon-color: rgba(124,175,215,0.9);

    --svg-image-color: #7cafd7;

    --widget-light-color: yellow;
	--widget-error-color: red;
	--widget-warn-color: #ffa500;
}

html:-webkit-full-screen .header {
    display: none;
}
html:-webkit-full-screen .gridster-desktop {
	margin: 10px 10px;
}
html:-webkit-full-screen .mvWidget.mvBackButton {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7vw;
}
html:-webkit-full-screen .mvWidget.mvPaperUI {
    position: fixed;
    top: 0;
    left: 7.5vw;
    right: 0;
    bottom: 0;
}

html {
    touch-action: manipulation;
}

body, html {
    background-color: var(--body-bg);
}
html .header {
	padding: 8px 8px 0 8px;
}
.container {
	margin: 0;
	padding:0px;
	box-sizing: border-box;
	box-shadow: none;
	background: var(--drawer-bg);
}
.drawer {
    background: var(--drawer-bg);
}
.drawer ul.menu {
	background: var(--drawer-bg);
}
.drawer ul.menu li {
    font-weight: 300;
}
.drawer ul.menu li.active:not(.head):after {
	display: none;
}
.drawer ul.menu li.active:not(.head) {
    background: var(--drawer-bg);
    color: var(--widget-button-color);
}
.drawer footer {
    background: var(--drawer-bg);
    color: var(--widget-text-color);
}
.icon-tile.colorize {
    filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
    -webkit-filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
    filter: var(--icon-color-filter, invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%));
    -webkit-filter: var(--icon-color-filter, invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%));
}
.dashboard-title {
    text-transform: uppercase;
    color: var(--widget-title-color);
    font-size: 30px;
    font-weight: 100;
}
.header {
    position: static;
    margin: 0px;
    width: 100%;
    z-index: 99;
    background: var(--header-bg);
    background: var(--header-bg);
}
.template-container {
    padding: 2px;
}
.template-contents {
    height:100%;
}
.box-content {
    padding: 0;
}

widget-colorpicker > div {
    border: var(--widget-button-border);
    border-radius: var(--widget-button-radius);
    background-color: var(--widget-button-background);
}

.mvWidget {
    height: 100%;
    padding: 2px;
}

body,
.value {
    color: var(--widget-text-color);
}

.mvWidget button {
    border: none;
    color: var(--widget-button-color);
    font-size: var(--widget-button-size);
    font-weight: var(--widget-button-weight);
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}
.mvWidget.mvStandardSmallButton button {
    font-size: var(--widget-button-small-size);
}
.mvWidget .groupTitle {
    font-size: var(--widget-title-group-size);
    color: var(--widget-title-group-color); 
}
.mvWidget .widgetTitle {
    font-size: var(--widget-title-size);
    color: var(--widget-title-color); 
}
.mvWidget.mvClickable, 
.mvWidget button {
    border: var(--widget-button-border-hidden);
}
.mvWidget.mvClickable:active,
.mvWidget button:active {
    border: var(--widget-button-border-active);
    border-radius: var(--widget-button-radius);    
    background-color: var(--widget-button-background-active);
}
.mvWidget.mvDashboardButton,
.mvWidget.mvSwitch, 
.mvWidget.mvRollershutter, 
.mvWidget.mvOutdoorLight, 
.mvWidget.mvSlider {
    border: var(--widget-button-border);
    border-radius: var(--widget-button-radius);    
    background-color: var(--widget-button-background);
    padding: 5px;
}
.mvWidget.mvDashboardButton.mvBackButton {
    border-left-color: var(--body-bg);
    border-top-color: var(--body-bg);
    border-bottom-color: var(--body-bg);
}
.mvWidget.mvDashboardButton.mvBackButton button div {
    transform: rotate(-90deg);
    font-size: 3vw;
}
.mvWidget.mvOutdoorWeather .content, 
.mvWidget.mvItemValue .content .top,
.mvWidget.mvItemValue .content .column .bottom,
.mvWidget.mvItemValue .content .value {
    display: flex;
}
.mvWidget.mvRollershutter, 
.mvWidget.mvOutdoorLight,
.mvWidget.mvSlider,
.mvWidget.mvSwitch {
    display: flex;
    flex-direction: column;
}
.mvWidget.mvSwitch .widgetTitle {
    flex-grow: 1;
}
.mvWidget.mvSwitch .value {
    font-size: var(--widget-button-size);
    color: var(--widget-button-color);
}
.mvWidget.mvSlider {
    padding-top: 5px;
    padding-bottom: 10px;
}
.mvWidget.mvSlider .bar {
    position:relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.mvWidget.mvSlider .bar .line {
    width: 4px;
    margin: auto;
    flex-grow: 1;
    background: var(--primary-dark-color);
}

.mvWidget.mvSlider .bar .selection {
    position:absolute;
    left: calc(50% - 21px);
    right:0;
    bottom: -5px;
	padding: 5px;
    margin: auto;
    display:table;
}
.mvWidget.mvSlider .bar .selection .pointer {
    display: table-cell;
    background: var(--widget-button-color);
    width: 2.5vw;
    height: 2.5vw;
    border: 0.85vw solid var(--widget-button-background-slider);
    border-radius: 1.25vw;
}
.mvWidget.mvSlider .bar .selection .value {
    display: table-cell;
    color: var(--widget-title-color); 
    padding-left: 0.2vw;
    vertical-align: middle;
}
.mvWidget.mvRollershutter button,
.mvWidget.mvOutdoorLight button {
    flex-grow: 1;
}
.mvWidget.mvRollershutter button span {
    display: inline-block;
    font-size: 3vw;
    transform-origin: 50% 50%;
}
.mvWidget.mvRollershutter button.up span {
    transform: scale(1.4,1) rotate(90deg) translate(-25%, 0);
}
.mvWidget.mvRollershutter button.down span {
    transform: scale(1.4,1) rotate(-90deg) translate(25%, 0);
}
.mvWidget.mvRollershutter button.up, .mvWidget.mvRollershutter button.down {
    filter: brightness(70%);
}
.mvWidget.mvRollershutter.upActive button.up,
.mvWidget.mvRollershutter.downActive button.down {
    filter: brightness(90%);
}
.mvWidget.mvRollershutter div.down,
.mvWidget.mvOutdoorLight div.auto {
    margin-top: 2px;
}
.mvWidget.mvRollershutter div.up, 
.mvWidget.mvOutdoorLight div.up {
    margin-bottom: 2px;
}
.mvWidget.mvRollershutter div.up, 
.mvWidget.mvRollershutter div.down, 
.mvWidget.mvOutdoorLight div.manual,
.mvWidget.mvOutdoorLight div.auto,
.mvWidget.mvSwitch .status {
    background-color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
    height: 10px;
    min-height: 10px;
    max-height: 10px;
}
.mvWidget .weatherDetailForecast .week .hour .status {
    background-color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    margin-left: 5%;
}
.mvWidget .weatherDetailForecast .week .hour > div.active .status {
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-color);
}
.mvWidget .weatherDetailForecast .week .hour > div {
    justify-content: flex-end;
}
.mvWidget.mvRollershutter.upActive div.up, 
.mvWidget.mvRollershutter.downActive div.down,
.mvWidget.mvOutdoorLight.manualActive div.manual,
.mvWidget.mvOutdoorLight.autoActive div.auto,
.mvWidget.mvSwitch .status.active {
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-color);
}
.mvWidget.mvRollershutter.upActive button.up,
.mvWidget.mvRollershutter.downActive button.down,
.mvWidget.mvOutdoorLight.manualActive button.manual,
.mvWidget.mvOutdoorLight.autoActive button.auto,
.mvWidget.mvOutdoorLightScenes.manualActive button.manual,
.mvWidget.mvOutdoorLightScenes.autoActive button.auto,
.mvWidget.mvSwitch .value.active {
    font-weight: var(--widget-value-weight);
}
.mvWidget.mvItemValue .column .top .value {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.mvWidget.mvItemValue .column .top .value .main {
    color: var(--widget-value-color);
    line-height: var(--widget-value-main-size);
    font-size: var(--widget-value-main-size);
    font-weight: var(--widget-value-weight);
}
.mvWidget.mvItemValue .column .top .value .sub {
    font-size: var(--widget-value-main-sub-size);
    line-height: var(--widget-value-main-sub-size);
    color: var(--widget-value-color);
    margin: 0px 0px 0px 5px;
}
.mvWidget.mvItemValue .column .top .icon {
    width: var(--widget-value-main-icon-size);
    height: var(--widget-value-main-icon-size);
}

.mvWidget.mvItemValue .column .top .icon.temperature svg {
    stroke: var(--top-icon-color);
    fill: var(--top-icon-color);
}
.mvWidget.mvItemValue .column .top .icon.rain svg {
    stroke: var(--top-icon-color);
    fill: none;
}
.mvWidget.mvItemValue .column .top .icon.wind svg {
    stroke: var(--top-icon-color);
    fill: var(--top-icon-color);
}


.mvWidget.mvItemValue .column .bottom {
    display: flex;
    justify-content: flex-end;    
}
.mvWidget.mvItemValue .column .bottom .value {
    font-size: var(--widget-value-size);
    color: var(--widget-value-color);
}
.mvWidget.mvItemValue .column .bottom .value span {
    font-weight: var(--widget-value-weight);
}
.mvWidget.mvItemValue .column .bottom .value:first-child {
    flex-grow: 1;
}
.mvWidget.mvItemValue .column .bottom .value:last-child {
    flex-grow: 0;
}
.mvWidget.mvStatus > div {
    margin-top: 5px;
}
.mvWidget.mvStatus > div:first-child {
    margin-top: 0;
}
.mvWidget.mvStatus > div,
.mvWidget.mvStatus > div .value {
    display: flex;
    justify-content: flex-end;
}
.mvWidget.mvStatus > div .icon {
    height: var(--widget-value-size);
    width: var(--widget-value-size);
    line-height: 11px;
    margin-right: 5px;
}
.mvWidget.mvStatus > div .icon svg {
    height: 100%;
    display: inline-block;
}
.mvWidget.mvStatus > div .icon.garden svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    filter: brightness(70%);
}
.mvWidget.mvStatus > div .icon.roomba svg, .mvWidget.mvStatus > div .icon.loudspeaker svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    filter: brightness(90%);
}
.mvWidget.mvStatus > div .icon.sensor svg {
    stroke: none;
    fill: var(--sub-icon-color);
    filter: brightness(90%);
}
.mvWidget.mvStatus > div .icon.window svg {
    stroke: none;
    fill: var(--sub-icon-color);
}
.mvWidget.mvStatus > div .icon.info svg {
    stroke: none;
    fill: var(--sub-icon-color);
    stroke: var(--sub-icon-color);
    stroke-width: 5px;
    filter: brightness(90%);
}
.mvWidget.mvStatus > div .icon.program svg, .mvWidget.mvStatus > div .icon.status svg {
    stroke: var(--sub-icon-color);
    fill: var(--primary-dark-color);;
}


.mvWidget.mvStatus > div .value {
    flex-grow: 1;
    font-size: var(--widget-value-size);
    line-height: var(--widget-value-size);
}
.mvWidget.mvStatus > div .value > div:last-child {
    flex-grow: 1;
    text-align: right;
}
.mvWidget.mvStatus > div .value.rightAligned > div:first-child {
    flex-grow: 1;
}
.mvWidget.mvStatus > div .value.rightAligned > div:last-child {
    flex-grow: 0;
}
.mvWidget.mvStatus > div .value > div:first-child {
    color: var(--widget-text-color-nonimportant);
}
.mvWidget.mvStatus > div .value > div:last-child {
    color: var(--widget-text-color);
}
.mvWidget.mvStatus > div.warn .value > div:last-child,
.mvWidget.mvStatus > div.error .value > div:last-child {
    font-weight: var(--widget-value-weight);
}
.mvWidget.mvStatus > div.warn .value > div:last-child {
    color: var(--widget-warn-color);
}
.mvWidget.mvStatus > div.error .value > div:last-child {
    color: var(--widget-error-color);
}
.mvWidget.mvStatus > div.spacer {
    height: 10px;
}
.mvWidget.mvImagePopup {
	height: 100%;
}
.mvWidget.mvImagePopup mv-widget-image-popup {
	height: 100%;
    display: flex;
    flex-direction: column;
}
.mvWidget.mvImagePopup div {
    border: none;
	height: 100%;
    padding-bottom: 4%;
}
.mvWidget.mvImagePopup div img {
    max-width:100%;
    max-height:100%;
    width:100%;
	height: 100%;
    border: var(--widget-button-border);
    border-radius: var(--widget-button-radius);
}
.mvWidget.mvImagePopup .popup img {
    width:1280px;
	height: 720px;
    margin: auto;
	opacity: 1;
}
.mvWidget.mvImagePopup .popup {
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.6);
	display: flex;
    align-items: center;
}
.mvWidget.mvClock {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.mvWidget.mvClock div:first-child {
    font-size: var(--widget-value-huge-main-size);
}
.mvWidget.mvClock div:last-child {
    font-size: var(--widget-value-huge-sub-size);
    line-height: var(--widget-value-huge-sub-size);
}
.mvWidget.mvDetailInfoStatus {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-size: var(--widget-value-info-size);
    color: var(--widget-text-color-nonimportant);
}
.mvWidget.mvDetailInfoStatus .value {
    color: var(--widget-value-color);
}






.mvWidget .content.haus {
	display:flex;
	flex-wrap: wrap;
	position:relative;
	height: 100%;
}
.mvWidget .content.haus > svg {
	position:absolute;
	width:50%;
    height:50%;
	z-index: 99;
    stroke: var(--svg-image-color);
    stroke-width: 5px;
    fill: transparent;
}
.mvWidget .content.haus > svg.status .room {
	z-index: 100;
}
.mvWidget .content.haus > svg.status .window,
.mvWidget .content.haus svg.status .door,
.mvWidget .content.haus svg.status .window_side {
	fill:none;
	stroke: none;
}
.mvWidget .content.haus > svg.status .light {
    width: 64px;
    height: 64px;
    stroke: rgba(255,0,0,0.5);;
}
.mvWidget .content.haus > svg.status .light.auto {
	stroke: var(--svg-image-color);
}
.mvWidget .content.haus > svg.status .light.active {
	stroke: var(--svg-image-color);
	fill: var(--widget-light-color);
}
.mvWidget .content.haus.shutterDownAdvise > svg.status .window.shutterAvailable {
	fill: var(--widget-warn-color);
}
.mvWidget .content.haus > svg.status .window.shutterDown,
.mvWidget .content.haus.shutterDownAdvise > svg.status .window.shutterAvailable.shutterDown {
	fill: var(--svg-image-color);
}
.mvWidget .content.haus > svg.status .window.contactOpen, 
.mvWidget .content.haus svg.status .door.contactOpen {
	fill: var(--widget-error-color) !important;
}
.mvWidget .content.haus > svg.status .room {
	fill:rgba(150,150,0,0.0);
}
.mvWidget .content.haus > svg.status .room.active,
.mvWidget .content.haus svg.status .window_side.active {
	fill:rgba(150,150,0,0.5);
}
.mvWidget .content.haus .info div.top,
.mvWidget .content.haus .info div.bottom {
    display: flex;
	margin: 0px;
	justify-content: flex-end;
	color: var(--widget-text-color);
	font-size: 1.2vw;
	line-height: 1.2vw;
}
.mvWidget .content.haus .info .icon {
	margin-left: auto;
}
.mvWidget .content.haus .info div.top .main {
    font-size: 2.1vw;
    font-weight: var(--widget-value-weight);
    line-height: 2.1vw;
}
.mvWidget .content.haus .info div.top .sub {
    margin: 0 0 0 4px;
    font-size: 1.3vw;
    line-height: 1.3vw;
}
.mvWidget .content.haus .info div.bottom  {
	line-height: 1.8vw;
}
.mvWidget .content.haus .info .gas div.top .icon svg {
    width: 1.5vw;
    height: 1.5vw;
    fill: var(--sub-icon-color);
    filter: brightness(40%);
}
.mvWidget .content.haus .info .gas div.top .icon.active svg {
	fill: orange;
    filter: brightness(100%);
}
.mvWidget .content.haus .info .gas div.top .main {
    font-size: 1.8vw;
    line-height: 1.8vw;
	flex-grow:1;
	text-align:right;
}
.mvWidget .content.haus .info .gas div.top .sub {
    font-size: 1.0vw;
	line-height: 1.0vw;
}
.mvWidget .content.haus .info .energy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: flex-end;
	stroke: var(--primary-color);
    fill: transparent;
}
.mvWidget .content.haus .info .energy .demand 
{
    color: var(--widget-warn-color);
}
.mvWidget .content.haus .info .energy .supply 
{
    color: var(--primary-color);
}
.mvWidget .content.haus .info .energy .head, 
.mvWidget .content.haus .info .energy .top, 
.mvWidget .content.haus .info .energy .bottom {
	flex-grow: 1;
}
.mvWidget .content.haus .info .energy div.top .main {
    padding-left: 0.3vw;
    font-size: 2vw;
	line-height: 2vw;
}
.mvWidget .content.haus .info .energy div.bottom  {
	line-height: 1.4vw;
}
.mvWidget .content.haus .info .energy .icon {
    width: 2vw;
    height: 2vw;
}
.mvWidget .content.haus .info .energy .icon svg {
	height: 100%;
    filter:brightness(90%);
}
.mvWidget .content.haus .info .solar div.top {
	margin-bottom: 0px;
}
.mvWidget .content.haus .info .solar div.bottom {
	margin-right: 20px;
}
.mvWidget .content.haus .info .solar div.bottom {
	font-size: 1.2vw;
	line-height: 1.2vw;
}
.mvWidget .content.haus .info .solar div.top .icon {
    margin-top: -3px;
	padding: 0 3px 2px 0;
    width: 1.6vw;
    height: 1.6vw;
	text-align: right;
    margin-left: 0;
}
.mvWidget .content.haus .info .solar .icon svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    filter: brightness(40%);
}
.mvWidget .content.haus .info .solar .icon.active svg {
	stroke: orange;
    fill: orange;
    filter: brightness(100%);
}
.mvWidget .content.haus .info .solar div.top,
.mvWidget .content.haus .info .solar div.bottom {
    justify-content: flex-start;
}
.mvWidget .content.haus .info .solar div.top .main {
    font-size: 1.3vw;
    line-height: 1.3vw;
}
.mvWidget .content.haus .info .solar div.top .sub {
    font-size: 0.9vw;
	line-height: 0.9vw;
    margin: 0 0 0 2px;
}
.mvWidget .weatherForecast .raindrop_snowflake_background {
    position: absolute;
    height: 0.7vw;
    min-height: 9px;
    margin: 22% 0 22% 0;
    background-color: var(--body-bg);
}
.mvWidget .weatherDetailForecast .mvClickable:hover .raindrop_snowflake_background,
.mvWidget .weatherForecast .active .raindrop_snowflake_background {
    background-color: var(--widget-button-background-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active .raindrop_snowflake_background {
    background-color: var(--primary-dark-color);
}
.mvWidget .weatherForecast .raindrop_background_1 {
    margin-left: 15%;
    width: 1vw;
    min-width: 12px;
}
.mvWidget .weatherForecast .snowflake_background_1 {
    margin-left: 15%;
    width: 1.2vw;
    min-width: 14px;
}
.mvWidget .weatherForecast .raindrop_background_2 {
    margin-left: 10%;
    width: 1.7vw;
    min-width: 19px;
} 
.mvWidget .weatherForecast .snowflake_background_2 {
    margin-left: 9%;
    width: 1.8vw;
    min-width: 20px;
} 
.mvWidget .weatherForecast .raindrop_background_3 {
    margin-left: 5%;
    width: 2.2vw;
    min-width: 24px;
} 
.mvWidget .weatherForecast .snowflake_background_3,
.mvWidget .weatherForecast .snowflake_background_4 {
    margin-left: 4%;
    width: 2.4vw;
    min-width: 26px;
} 
.mvWidget .weatherForecast .raindrop_background_4 {
    margin-left: 5%;
    width: 2.2vw;
    min-width: 24px;
}

.mvWidget .weatherForecast svg.raindrop,
.mvWidget .weatherForecast svg.snowflake,
.mvWidget .weatherForecast svg.thunder {
    width: 2.6vw;
    height: 2.6vw;
    min-width: 31px;
    min-height: 31px;
    stroke: none;
    position: absolute;
}
.mvWidget .weatherForecast svg.raindrop {
    stroke: var(--widget-value-color-weather-raindrop);
	stroke-width: 1px;
}
.mvWidget .weatherForecast svg.snowflake {
    fill: var(--widget-value-color-weather-snowflake);    
    filter: brightness(80%);
}
.mvWidget .weatherForecast svg.thunder {
    padding: 6%;
    fill: var(--widget-value-color-weather-thunder-fill);
    fill-opacity: 0.4;
	stroke: var(--widget-value-color-weather-thunder-stroke);
	stroke-width: 1px;
}
.mvWidget .weatherForecast svg.thunder.strong {
    fill-opacity: 1;
}
.mvWidget .weatherForecast .sun {
	stroke: var(--widget-value-color-weather-clouds);
	stroke-width: 1px;
	fill: none;
}
.mvWidget .weatherForecast .sun .day {
	stroke-width: 1.2px;
}
.mvWidget .weatherForecast .sun .night {
	stroke-width: 1.4px;
}
.mvWidget .weatherForecast .summary,
.mvWidget .weatherForecast .summary .cell {
    display: flex;
}
.mvWidget .weatherForecast .summary .bullet {
    font-size: 1vw;
    color: var(--widget-text-color-nonimportant);
    flex-grow: 1;
}
.mvWidget .weatherForecast .summary .cell {
    justify-content: flex-end;
}
.mvWidget .weatherForecast .summary .cell:first-child {
    justify-content: flex-start;
}
.mvWidget .weatherForecast .summary .txt {
    font-size: 1vw;
    padding-top: 2px;
    color: var(--widget-text-color-nonimportant);
}
.mvWidget .weatherForecast .summary .icon {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    width: 16px;
    height: 16px;
    flex-grow: 0;
}
.mvWidget .weatherForecast .summary .icon svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    width: auto;
    height: auto;
}
.mvWidget .weatherForecast .summary .icon.rain svg {
    stroke: var(--sub-icon-color);
    fill: none;
    filter: brightness(150%);
}
.mvWidget .weatherForecast .summary .icon.sun svg {
	/*margin: 0px;*/
    filter: brightness(70%);
}
.mvWidget .weatherForecast .summary .value {
    font-weight: var(--widget-value-weight);
    white-space: nowrap;
}
.mvWidget .weatherForecast .summary .cell,
.mvWidget .weatherForecast .summary .bullet {
    margin-top: 1.1vw;
    font-size: 1.2vw;
    width: auto;
}
.mvWidget .weatherForecast .summary .bullet {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}
.mvWidget .weatherDetailForecast .summary {
	justify-content: center;
}
.mvWidget .weatherDetailForecast .summary .bullet {
    flex-grow: 0;
}
.mvWidget .weatherTodayForecast .headlines,
.mvWidget .weatherTodayForecast .summary .cell,
.mvWidget .weatherTodayForecast .summary .bullet {
    border-top: 1px dashed var(--primary-light-color);
}
.mvWidget .weatherTodayForecast .headlines .cell,
.mvWidget .weatherTodayForecast .summary .cell,
.mvWidget .weatherTodayForecast .summary .bullet {
    padding-top: 1.1vw;
}
.mvWidget .weatherTodayForecast .headlines .cell,
.mvWidget .weatherTodayForecast .details .cell {
    width: 25%;
    margin-right: 5%;
}
.mvWidget .weatherTodayForecast .headlines .cell:last-child,
.mvWidget .weatherTodayForecast .details .cell:last-child {
    margin-right: 0%;
}
.mvWidget .weatherTodayForecast .headlines,
.mvWidget .weatherTodayForecast .details {
    display: flex;
}
.mvWidget .weatherTodayForecast .details .cell {
    position: relative;
    height: 7vw;
}
.mvWidget .weatherTodayForecast .details .cell .sun,
.mvWidget .weatherTodayForecast .details .cell .time,
.mvWidget .weatherTodayForecast .details .cell .temperature,
.mvWidget .weatherTodayForecast .details .cell .precipitationProbability,
.mvWidget .weatherTodayForecast .details .cell .precipitationAmount {
    position: absolute;
}
.mvWidget .weatherTodayForecast .details .cell .temperature,
.mvWidget .weatherTodayForecast .details .cell .precipitationProbability,
.mvWidget .weatherTodayForecast .details .cell .precipitationAmount { 
    display: flex;
    justify-content: flex-end;
}
.mvWidget .weatherTodayForecast .details .cell .sun {
    overflow: hidden;
    left: 0;
    bottom: 0px;
    width: 4.9vw;
    height: 4.9vw;
    margin-left: -3px;
}
.mvWidget .weatherTodayForecast .details .cell .time {
    left: 0px;
    top: 4px;
    width: auto;
    color: var(--widget-text-color-nonimportant);
}
.mvWidget .weatherTodayForecast .details .cell .time .from {
    font-size: 1.2vw;
    line-height: 1.2vw;
}
.mvWidget .weatherTodayForecast .details .cell .time .to {
    font-size: 1.0vw;
    line-height: 1.0vw;
    text-align: left;
}
.mvWidget .weatherTodayForecast .details .cell .temperature {
    right: 0;
    top: 4px;
}
.mvWidget .weatherTodayForecast .details .cell .temperature .sub {
    font-size: 1.4vw;
    line-height: 1.4vw;
}
.mvWidget .weatherTodayForecast .details .cell .temperature .main {
    font-size: 2vw;
    font-weight: var(--widget-value-weight);
    color: var(--widget-value-color-main);
}
.mvWidget .weatherTodayForecast .details .cell .precipitationProbability {
    right: 0px;
    bottom: 20px;
}
.mvWidget .weatherTodayForecast .details .value.precipitationProbability svg {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 2px;
    margin-top: -2px;
    stroke: var(--sub-icon-color);
    fill: none;
}
.mvWidget .weatherTodayForecast .details .cell .precipitationAmount {
    right: 0px;
    bottom: 0px;
}
.mvWidget .weatherDetailForecast .mvClickable, 
.weatherDetailForecast .today .hour > div {
    border: var(--widget-button-border);
    border-color: var(--body-bg);
    padding: 0.2vw;
}
.mvWidget .weatherDetailForecast .mvClickable:hover,
.mvWidget .weatherDetailForecast .mvClickable.active {
    background-color: var(--widget-button-background-marker);
    border: var(--widget-button-border-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active {
    background-color: var(--primary-dark-color);
    border: var(--widget-button-border);
    border-radius: var(--widget-button-radius);    
}
.mvWidget .weatherDetailForecast {
    display: flex;
    flex-direction: row;
    font-size: var(--widget-value-size);
    /*font-weight: var(--widget-value-weight);*/
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast > div {
    width: 50%;
}
.mvWidget .weatherDetailForecast .today .hour, 
.weatherDetailForecast .today .summary {
    border-right: 1px dashed var(--primary-light-color);
	padding-right: 0.5vw;
}
.mvWidget .weatherDetailForecast .week {
	padding-left: 0.5vw;
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast .hour {
	padding-top: 1vw;
}
.mvWidget .weatherDetailForecast .hour > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mvWidget .weatherDetailForecast .hour > div > .time {
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 1vw;
}
.mvWidget .weatherDetailForecast .hour > div > .time .from {
    font-size: 1.2vw;
    line-height: 1.2vw;
    margin-top: 0.1vw;
}
.mvWidget .weatherDetailForecast .hour > div > .time .to {
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour > div > .sun {
    width: 4.9vw;
    height: 4.9vw;
    position:relative;
    min-width: 58px;
    min-height: 58px;
    text-align: center;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature {
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > div {
    height:2vw;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > .main {
    font-size: 2vw;
    line-height: 2vw;
    font-weight: var(--widget-value-weight);
    margin-right: 5px;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > .sub {
    font-size: 1.6vw;
    line-height: 1.6vw;
}
.mvWidget .weatherDetailForecast .hour > div > .info {
    width:15%;
    font-size: 1.4vw;
    line-height: 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mvWidget .weatherDetailForecast .hour > div > .info > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.2vw;
}
.mvWidget .weatherDetailForecast .hour > div > .info > div:first-child {
    margin-top: 0;
}
.mvWidget .weatherDetailForecast .hour > div > .info .sunshineDuration .sun {
    width: 16px;
	height: 16px;
}
.mvWidget .weatherDetailForecast .hour > div > .info .sunshineDuration .sun svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
	filter: brightness(70%);
}

.mvWidget .weatherDetailForecast .hour > div > .info .precipitationProbability {
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour > div > .info .precipitationProbability svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
}
.mvWidget .weatherDetailForecast .hour > div > .wind {
    width:28%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-right: 5px;
    white-space: nowrap;
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass,
.mvWidget .weatherDetailForecast .hour > div > .wind svg {
    width: 3vw;
	height: 3vw;
    min-width: 24px;
    min-height: 24px;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass {
    position: relative;
    margin-left: 20px;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .circle, 
.weatherDetailForecast .hour > div > .wind .compass .needle {
    position: absolute;
    top: 0;
    left: 0;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .circle {
    fill: var(--widget-value-color-weather-circle);
    stroke: none;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .needle {
    fill: var(--widget-value-color-weather-needle);
}
.mvWidget .weatherDetailForecast svg {
    width: 16px;
	height: 16px;
}
